#Creatividad{
    background-color:#A1C0D4;
}
#sociable{
    background-color:#A1C0D4;
}
#asertivo{
    background-color:#A1C0D4;
}
#pasiente{
    background-color:#A1C0D4;
}
#comunicacion{
    background-color:#A1C0D4;
}
#cultura{
    background-color:#A1C0D4;
}
#servicio{
    background-color:#A1C0D4;
}
#inteligencia{
    background-color:#A1C0D4;
}
#productividad{
    background-color:#A1C0D4;
}
#fluidez{
    background-color:#A1C0D4;
}
#ofimatica{
    background-color:#9AC99F;
}
#illustrator{
    background-color:#9AC99F;
}
#photoshop{
    background-color:#9AC99F;
}
#premiere{
    background-color:#9AC99F;
}
#animate{
    background-color:#9AC99F;
}
#html{
    background-color:#9AC99F;
}
#css{
    background-color:#9AC99F;
}
#git{
    background-color:#9AC99F;
}
#bootstrap{
    background-color:#9AC99F;
}
#primaria{
    background-color: #CCAD93;
    animation-delay: 1s;
}
#secundaria{
    background-color: #D4A1A4;
    animation-delay: 1.5s;
}
#media{
    background-color: #B099BD;
    animation-delay: 2s;
}
#diseño{
    background-color: #A1ADD4;
    animation-delay: 2.5s;
}
#produccion{
    background-color: #9BC9C5;
    animation-delay: 3s;
}
#Diseñar{
    animation-delay: 1s;
}
#Editar{
    animation-delay: 1.5s;
   
}
#Programar{
    animation-delay: 2s;
    
}
#Ilustrar{
    animation-delay: 2.5s;
    
}
#Fotografiar{
    animation-delay: 3s;
    
}
#Vectorizar{
    animation-delay: 3.5s;
    
}
#Transmitir{
    animation-delay: 4s;  
}
   
#Redactar{
    animation-delay: 4.5s;  
}
#enviar{
    background-color: #88F2A1;
}

h2{
    font-family: 'Amatic SC', cursive;
    font-size: 85px;
}
h5{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
p{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}
h6{
    font-family: 'Dancing Script', cursive;
    font-size: 20px; 
    color: black;
}
h1{
    font-family: 'Amatic SC', cursive;
    font-size: 85px;   
}      
#podcast{
    background-color: brown;
}